body{
	background-color: rgb(36, 36, 36);
	color: white;
	text-align: center;
	/* overflow: hidden; */

}

canvas{
	position: fixed;
	/* width: 100%;
	height: 100%; */
	left: 0;
	top:0;
	z-index: -1;
  }

a {
	color: rgb(201, 201, 201);
  }

h1{
	font-size: 32px;
}

form{
    /* display: flex;
justify-content: end;
    margin-left: auto;
    margin-right: auto;
	width: 380px;
	background-color: rgb(73, 73, 73); */
}

.protocols {
    display: flex;
    flex-direction: column;
}


.classic-form {
    display: flex;
justify-content: end;
    margin-left: auto;
    margin-right: auto;
	width: 380px;
	background-color: rgb(73, 73, 73);
}

.commands-form {
    margin-top: 30px;
justify-content: end;
    margin-left: auto;
    margin-right: auto;
	width: 380px;
	background-color: rgb(73, 73, 73);
}

.command {
    display: flex;
    justify-content: end;
        margin-left: auto;
        margin-right: auto;
        width: 380px;
        background-color: rgb(73, 73, 73);
}

input[type=text], input[type=number]{
	padding:3px;
	margin:3px;
	box-shadow:none;
	border-width:0px;
	border-radius: 10;
	border-color: black;
	color: #ffffff;
	background-color: rgb(56, 56, 56);
}

input[type=submit],input[type=button] {
	padding:5px;
	margin:3px;
	box-shadow:none;
	border-width:3px;
	border-color: black;
	color: #ffffff;
	background-color: rgb(56, 56, 56);
}

input[type=submit]:hover, input[type=button]:hover{
	padding:5px;
	margin:3px;
	box-shadow:none;
	border-width:3px;
	border-color: rgb(255, 255, 255);
	color: #ffffff;
	background-color: rgb(56, 56, 56);
}