body {
	background-color: rgb(0, 0, 0);
	color: white;
	text-align: center;
	/* overflow: hidden; */

}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/* right: 0; */
	/* bottom: 0;	 */

	z-index: -1;
}

a {
	color: rgb(201, 201, 201);
}

h1 {
	font-size: 32px;
	margin: 0;
}


.forms-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;

}

.cybr-form {
	display: flex;
	gap: 20px;
}

.cybr-input-container {
	margin-top: 20px;
	/* margin-bottom: 25px; */
	position: relative;
}

.cybr-input-container input {
	padding: 10px 20px;
	color: black;
	outline: none;
	background: #72dec2;
	/* border-radius: 0 6px 0 6px; */
	font-size: 16px;
	border: none;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%, 0 70%);
	/* border: 2px solid #ffb545; */
	border-right: 4px solid #ffb545;
	transition: 0.2s ease;
}

.cybr-input-container label {
	user-select: none;
	position: absolute;
	top: -17px;
	left: 0px;
	background: #ffb545;
	font-weight: 600;
	color: #000;
	min-width: 150px;
	padding: 0 16px;
}


.classic-inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.commands-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.commands-inputs {
	display: flex;
	flex-direction: column;
}

.commands-buttons {
	display: flex;
	gap: 30px;
}

.protocols {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 70%);
	padding-left: 10px;
	padding-right: 10px;
	background-color: #72dec2;
	border-right: 4px solid #ffb545;
}

.protocol {
	color: black;

}

.protocol input {
	/* border: 1px solid black; */
	background-color: #ffb545;
	padding: 0.5em;
	-webkit-appearance: none;
	appearance: none;
}

.protocol input:checked {
	background-color: black;
	/* clip-path: polygon(100% 100%, 100% 82%, 67% 50%, 100% 18%, 100% 0, 82% 0, 50% 33%, 18% 0, 0 0, 0 18%, 33% 50%, 0 82%, 0 100%, 22% 100%, 50% 67%, 82% 100%); */
}

.classic-form {
	display: flex;
	justify-content: end;
	margin-left: auto;
	margin-right: auto;
	width: 380px;
	background-color: rgba(0, 0, 0, 0.671);
}

.commands {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.command {
	display: flex;
	gap: 30px;
	align-items: flex-end;
}